:root {
    --black: #000000;
    --white: #ffffff;

    --brand-yellow: #F1C83B;

    --border-color: #BBB5C2;

    --gray: #5B5B5B;

    --light-gray: #727476;

    --black-rgba: rgba(0, 0, 0, 0.60);

    --bloom-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.30);

    --our-team-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);

    --white-line-color: #E9ECEF;

    --black-hover: #1a1a1a;

    --box-shadow: 0px 4px 40px 8px rgba(0, 0, 0, 0.05);

    --our-causes-background: #F5F2ED;

    --event-box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.06);

    --measure-background: #1E1E1E;

    --blog-shadow: 0px 0px 43px 7px rgba(0, 0, 0, 0.06);

    --footer-icon-back: #404040;

    --footer-background: #333333;

    --footer-end-background: #2b2b2b;

    --menu-hover: #080808;


    --modal-gray: #f6fafd;

    --black-light: #2f2c2c;

    --dark-gray: #72747680;

    --blue: #0062cc;

    --green-light: #f6fafd;

    --gray-extra-light: #f0f5f9;

    --pink: #fb93ae;

    --light-blue: #e2e8ff;

    --green: #80bca0;

    --light-green: #dcffef;

    --light-pink: #f9f1ef;

    --opcatiy-background: rgb(246, 250, 253, 0.5);
}