
/*Fonts family Roboto*/
$fontrb: robotobold;
$fontrl: robotolight;
$fontrm: robotomedium;
$fontrr: robotoregular;
$fontrt: robotothin;

/*Fonts family Rupee */
$fontrupee: RupeeForadianRegular;

/*Fonts family Lato */
$fontlb: latobold;
$fontll: latolight;
$fontlm: latomedium;
$fontlr: latoregular;
$fontlt: latothin;